<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title  %}
        Task Management App
    {% endblock  %}</title>
</head>
<body>
    <header>
        <h2>Task Manager</h2>
        {% block navbar %}
        {% endblock navbar %}
    </header>
    <main>
        {% block content %}
            
        {% endblock content %}
    </main>
    <footer>
        <p>Made By Karma Patel</p><br>
        <p>Report any issue at </p>
        <p><a href="mailto:karmapatel4@gmail.com" style="text-decoration: none; color: inherit;">karmapatel4@gmail.com</a></p>
    </footer>
</body>
</html>